.vertical-menu a{
    display: block;
}

.head {
    background-color: aquamarine;
    height: 5rem;
}

.application {
    display: flex;
    
}

.apps {
    padding: 5rem;
    border: solid;
}

.logo {
    height: 3.5rem;
}

.heading {
    text-align: center;
}

.content {
    padding-top: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
}
.working {
    display: grid;
    padding: 4rem;
    /* border: solid; */
}
.text-field {
    height: 7rem;
    width: 65rem;
    border: solid;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    padding-bottom: 5rem;
    align-content: center;
}
.text-f {
    width : 5rem;
    height : 5rem;
}
.work {
    display: grid;
    padding: 5rem;
    line-height: 2rem;
    
}
.box {
    border: solid;
    height: 2rem;
    width: 5rem;
    margin: auto;    
}
.work-2 {
    display : flex;
    padding: 1rem;
}
.box-2 {
    margin: auto;
    height: 2.5rem;
    display: flex;
}
.convert-work {
    display: grid;
    padding: 5rem;
    line-height: 2rem;
    

}
.txt {
    display: grid;
    width: 20rem;
    margin: auto;
    padding: 10rem;
}
.work-3 {
    display: flex;
    padding: 2rem;
}

.work-3-1 {
    padding: 2rem;
}
.work-html-codes {
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#hex-1, #hex-2 {
    text-transform: uppercase;
}