.vertical-menu a{
    display: block;
}

.application {
       display: flex;
       margin: auto;  
       padding-top: 10rem;
           
    
}


body {
    font-family: 'Nunito Sans', sans-serif;
}


.navigator {
    
    border: solid;
    height: fit-content;
    padding: 2rem;
    height: 3rem;
    margin: auto;
    align-items: stretch;
}

.apps {
    padding: 3rem;
    border: solid;
    border-radius: 15px;
    width: 8rem;   
    height: 5rem; 
    margin: auto;
    position: relative;
    background-color: rgb(185, 178, 178); 
}

.apps span {
    font-weight: lighter;
}

.apps:hover {
    background-color: rgb(199, 139, 149);
}

.apps a {
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.logo {
    height: 3.5rem;
}

.heading {
    text-align: center;
}

.content {
    padding-top: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
}
.working {
    display: grid;
    padding: 4rem;
    /* border: solid; */
}
.text-field {
    height: 7rem;
    width: 65rem;
    border: solid;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    padding-bottom: 5rem;
    align-content: center;
}
.text-f {
    width : 5rem;
    height : 5rem;
}
.work {
    display: grid;
    padding: 5rem;
    line-height: 2rem;
    
}
.box {
    border: solid;
    height: 2rem;
    width: 5rem;
    margin: auto;    
}
.work-2 {
    display : flex;
    padding: 1rem;
}
.box-2 {
    margin: auto;
    height: 2.5rem;
    display: flex;
}

.box-2 input {

    height: 2rem;
    
}


.convert-work {
    display: grid;
    padding: 5rem;
    line-height: 2rem;
    

}
.txt {
    display: grid;
    width: 20rem;
    margin: auto;
    padding: 10rem;
}
.work-3 {
    display: flex;
    padding: 2rem;
}

.work-3-1 {
    padding: 2rem;
}
.work-html-codes {
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#hex-1, #hex-2 {
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    

}
ul a {
    color: black;
    font-weight: bold;
    
}

li {
    float: right;
    background-color: rgb(185, 178, 178);
   
}

li a, .e-c-drop {
    display: inline-block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;

}

li.dropdown {
    display: inline-block;
}

.e-c-options {
    display: none;
    position: absolute;

}

.e-c-drop:hover {
    background-color: rgb(211, 165, 173);
    border-bottom: black groove;
}

.e-c-options a {
    display: block;
    text-align: left;
    border-bottom: black groove;
    position: relative;
    z-index: 6;
    background-color: rgb(211, 165, 173);
    
}

.e-c-options a:hover {
    background-color: rgb(182, 115, 126);
}

.encode-decode-link:hover .e-c-options {
    display: block;
    
}

.header {
    border: solid;
    background-color: rgb(185, 178, 178);
}


.app-name {
    font-weight: bold;
    font-size: 2rem;
}

.func {
    display: flex;
    
}

.func div {
    border: solid;
    width: 50%;
    height: 10rem;
    
}

.sup {
    vertical-align: super;
  font-size: smaller;
}

.unit-grid {
    display: flex;
}

.unit-conversion {
    display: grid;
    
    margin: auto;
    width: 30rem;
    padding: 3rem;
}

.unit-conversion input {
    height: 2rem;
}

#convert {
    width: fit-content;
    margin: auto;
}

#unit-conversion-1 {
    display: block;
}

.ap input {
    
    padding: 2rem;    
    border-radius: 15px;
    width: 15rem;    
    text-align: center;
    position: relative;
    
    background-color: rgb(185, 178, 178); 
    font-weight: bold;
    font-size: larger;
}



.ap input:after {
    background-color: green;

}
.converter-apps {
    display: flex;
    padding: 2rem;
    justify-content: center;
}

#explanation {
    outline: none;
    border: none;
    text-align: center;

}

.radio-bttn {
    display: flex;
    margin: auto;
    padding: 2rem;
}

.radio-bttn input {
    padding: 2rem;
    size: 2;
       
}

#characters {
    width: 17rem;
}

.op {
    display: grid;

}

.work-3-1.convert {
    margin-left: 50%;
}
